.main {
    max-width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    font-size: 0.7rem;
    background: #e6e3e3df;
    gap: 50px;
    border-radius: 10px;
    border: 1px solid black;

    @media (max-width: 650px) {
        padding: 30px;
    }

    @media (max-width: 500px) {
        width: 100%;
        gap: 30px;
    }
}
