.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    max-height: inherit;
    height: 100%;

    @media (max-width: 1150px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 650px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
    @media (max-width: 500px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}