.error {
    position: fixed;
    right: -400px;
    bottom: 20px;
    border: 3px solid rgb(255, 0, 0);
    max-width: 300px;
    width: 100%;
    padding: 10px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all ease-in-out 0.4s;
    transform: translateX(0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.3rem;
    color: red;
    font-weight: 800;
    z-index: 9999999999;

    @media (max-width: 500px) {
        font-size: .4em;
    }
}

.error_opened {
    transform: translateX(-420px);
}